<%- include('partials/header') %>
<div style="text-align:center;padding:100px 20px;">
  <h1 style="font-size:3rem;">Oops!</h1>
  <p style="color:#6B7280;margin:20px 0;"><%= message %></p>
  <a href="/" class="btn btn-primary">Go Home</a>
</div>
<%- include('partials/footer') %>